<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ4oY9WsSG1WnC9vISZV_kSmtGEUueSyU</string>
	<key>GCM_SENDER_ID</key>
	<string>999266132851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication3</string>
	<key>PROJECT_ID</key>
	<string>food-app-c3b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-c3b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999266132851:ios:6e6337cf517736bcf81b06</string>
</dict>
</plist>